THREADS_HOST=threads-sample.meta
THREADS_REDIRECT_URI=https://threads-sample.meta:8000/callback
THREADS_APP_ID=
THREADS_API_SECRET=
THREADS_SSL_CERT_FILEPATH= #"threads-sample.meta.pem"
THREADS_SSL_KEY_FILEPATH= #"threads-sample.meta-key.pem"

# Optional config setting to change the Graph API version.
# Leave blank or commented to default to the app's default version
# THREADS_GRAPH_API_VERSION=v1.0
